<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partes/head') %>
</head>
<body>
    <%- include('./partes/navbar') %>
<h1>Main</h1>
    <%- include('./partes/scripts') %>
    <%- include('./partes/footer') %>
</body>
</html>